extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main
    if(role.permissions.includes("roles_edit"))
        h1(class="mb-4") Chỉnh sửa nhóm quyền
        +alert-success(5000)
        +alert-error(5000)
        form(
            action=`${preFixAdmin}/roles/edit/${role.id}?_method=PATCH`
            method="POST"
        )
            div(class="form-group")
                label(for="title") Tiêu đề
                input(
                    type="text"
                    class="form-control"
                    id="title"
                    name="title"
                    value=role.title
                    required
                )

            div(class="form-group")
                label(for="desc") Mô tả
                input(
                    type="text"
                    class="form-control"
                    id="desc"
                    name="description"
                    value=role.description
                )

            div(class="form-group mt-3")
                button(
                    type="submit"
                    class="btn btn-primary"
                ) Chỉnh sửa
