extends ../../layouts/default.pug

block main
  .container.py-5
    .row.justify-content-center
      .col-md-4
        .card
          .card-body
            h3.text-center.mb-4 Đăng ký

            form(action="/user/register", method="POST")
              // --- Form Group 1: Họ tên
              .form-group
                label(for="fullName") Họ và tên
                input#fullname.form-control(
                  type="text",
                  name="fullName",
                  placeholder="Nhập họ và tên",
                  required
                )

              // --- Form Group 2: Email
              .form-group
                label(for="email") Email
                input#email.form-control(
                  type="email",
                  name="email",
                  placeholder="Nhập email",
                  required
                )

              // --- Form Group 3: Mật khẩu
              .form-group
                label(for="password") Mật khẩu
                input#password.form-control(
                  type="password",
                  name="password",
                  placeholder="Nhập mật khẩu",
                  required
                )

              // --- Submit
              button.btn.btn-primary.btn-block(type="submit") Đăng ký

            p.text-center.mt-3
              a(href="/user/login") Đã có tài khoản? Đăng nhập
